h1,
h2,
form,
label,
input,
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

h2 {
  color: white;
  background-color: dodgerblue;
  margin: 0;
  border-radius: 10px;
}

.display-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border {
  border: 1px solid black;
  border-radius: 10px;
}

.div {
  margin: 50px 0 50px 0;
}

label {
  font-size: 20px;
  margin: 10px 0 0 0;
}

input {
  font-size: 20px;
  margin-bottom: 10px;
}

#apagar-produto, #apagar-anexo{
  background-color: red;

  display: inline;
  width: 50px;
  height: 50px;
  margin: 100px 25px;
}

#ver-anexo{
  background-color: dodgerblue;

  display: inline;
  width: 50px;
  height: 50px;
  margin: 100px 25px;
}

.button-form {
  border: 0;
  border-radius: 10px;

  height: 50px;
  margin: 10px;

  font-size: 20px;
  background-color: rgb(0, 255, 0);
  color: white;
}

.form-group {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin: 0 20px;
}

.form-group-anexo {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.container-form-group {
  display: flex;
}

.produto-item{
  display: flex;
  margin: 20px;
}

.produto-item fieldset{
  border: 2px solid black;
  border-radius: 10px;
}

.produto-item legend{
  text-align: left;
  font-size: 20px;
  width: 500px;
}
